{%extends 'layouts/pages-blank.html'%}

{%block title %}Admin Dashboard{%endblock title%}


{%block main-content%}
<div class="container">
  <div class="row">
      <div class="col-lg-3">
          <!-- Default Card -->
          <div class="card admin-card">
            <div class="card-body">
              <h5 class="card-title">Gerenciar Postos</h5>
            </div>
          </div><!-- End Default Card -->
      </div>
                
      <div class="col-lg-3">
            <!-- Default Card -->
            <div class="card admin-card">
                <div class="card-body">
                  <h5 class="card-title">Gerenciar Vacinas</h5>
                </div>
            </div><!-- End Default Card -->
      </div>
  </div>
</div>
{%endblock main-content%}