{%extends 'layouts/pages-blank.html'%}

{%block title %}{{postoChave.pos_nome}}{%endblock title%}

{%block page-name%}{{postoChave.pos_nome}}{%endblock page-name%}

{%block directory%}
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item">Postos</li>
<li class="breadcrumb-item"><a href="{%url 'lista_postos'%}">Listar Postos</a></li>
<li class="breadcrumb-item active">Exibir {{postoChave.pos_nome}}</li>
{%endblock directory%}


{%block main-content%}
<div class="row">
    <div class="col-xl-4">

      <div class="card">
        <div class="card-body profile-card pt-4 d-flex flex-column align-items-center">
          <h2>{{postoChave.pos_nome}}</h2>
        </div>
      </div>

    </div>

    <div class="col-xl-8">

      <div class="card">
        <div class="card-body pt-3">
          <div class="tab-content pt-2">

            <div class="tab-pane fade show active profile-overview" id="profile-overview">

              <div class="row">
                <div class="col-lg-3 col-md-4 label ">Nome</div>
                <div class="col-lg-9 col-md-8">{{postoChave.pos_nome}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Cep</div>
                <div class="col-lg-9 col-md-8">{{postoChave.pos_cep}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Bairro</div>
                <div class="col-lg-9 col-md-8">{{postoChave.pos_bairro}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Rua</div>
                <div class="col-lg-9 col-md-8">{{postoChave.pos_rua}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Número</div>
                <div class="col-lg-9 col-md-8">{{postoChave.pos_numero}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Logradouro</div>
                <div class="col-lg-9 col-md-8">{{postoChave.pos_logradouro}}</div>
              </div>

              <div class="row">
                <div class="col-lg-3 col-md-4 label">Telefone</div>
                <div class="col-lg-9 col-md-8">{{postoChave.pos_telefone}}</div>
              </div>
              </div>
            </div>
          </div><!-- End Bordered Tabs -->

        </div>
      </div>

    </div>
  </div>
{%endblock main-content%}