{%extends 'layouts/pages-blank.html'%}

{%block title %}Postos{%endblock title%}

{%block page-name%}Lista de Postos{%endblock page-name%}

{%block directory%}
<li class="breadcrumb-item"><a href="index.html">Home</a></li>
<li class="breadcrumb-item">Postos</li>
<li class="breadcrumb-item active">Listar Postos</li>
{%endblock directory%}


{%block main-content%}
<!-- Default Table -->
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Posto</th>
      <th scope="col">Cep</th>
      <th scope="col">Bairro</th>
      <th scope="col">Rua</th>     
      <th scope="col">Número</th>     
      <th scope="col">Telefone</th>
      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Vacina</td>
      <td>Muito</td>
      <td>Mió que tá tendo</td>      
      <td>03/04/2003</td>      
      <td>06/09/2022</td>      
      <td>AAAAAA333333</td>
      <td>Rodrigo</td>
      <td>
        <a href="#" class="text-primary fw-bold">Exibir</a>
        <a href="#" class="text-primary fw-bold">Editar</a>
        <a href="#" class="text-primary fw-bold">Deletar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Vacina</td>
      <td>Muito</td>
      <td>Mió que tá tendo</td>      
      <td>03/04/2003</td>      
      <td>06/09/2022</td>      
      <td>AAAAAA333333</td>
      <td>Rodrigo</td>
      <td>
        <a href="#" class="text-primary fw-bold">Exibir</a>
        <a href="#" class="text-primary fw-bold">Editar</a>
        <a href="#" class="text-primary fw-bold">Deletar</a>
      </td>
    </tr>
    <tr>
      <th scope="row">1</th>
      <td>Vacina</td>
      <td>Muito</td>
      <td>Mió que tá tendo</td>      
      <td>03/04/2003</td>      
      <td>06/09/2022</td>      
      <td>AAAAAA333333</td>
      <td>Rodrigo</td>
      <td>
        <a href="#" class="text-primary fw-bold">Exibir</a>
        <a href="#" class="text-primary fw-bold">Editar</a>
        <a href="#" class="text-primary fw-bold">Deletar</a>
      </td>
    </tr>
  </tbody>
</table>
<!-- End Default Table Example -->
{%endblock main-content%}