<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>OOOOOIIIIIIIIIIII</h1>
    <table border = 1>
        <tr>
            <td>Nome</td>
            <td>Cep</td>
            <td>Rua</td>
            <td>Bairro</td>
            <td>Numero</td>
            <td>Logradouro</td>
            <td>Telefone</td>

        </tr>
        
        {%for i in postoChave%}
            <tr>
                <td>{{i.pos_nome}} </td>
                <td>{{i.pos_cep}} </td>
                <td>{{i.pos_rua}} </td>
                <td>{{i.pos_bairro}} </td>
                <td>{{i.pos_numero}} </td>
                <td>{{i.pos_logradouro}} </td>
                <td>{{i.pos_telefone}} </td>
                <td>
                    <a href="{%url 'update_postos' i.id%}">
                      <button>att</button>   
                    </a>
                </td>
                <td><a href="{%url 'delete_postos' i.id%}">Excluir</a></td>
            </tr>
        {%endfor%}
    </table>
    <a href="{%url 'create_postos'%}">
        <button>aaaaa</button>
       </a>
</body>
</html>